html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

#wrapper {
    display: grid;
    grid-template-columns: repeat(3, 100%);
}



section {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5,auto);
    margin: 20px 0;
}

#img-wrap {
    width: 100%;
    height: 100%;
}

.item {
    width: 100vw;
    height: 18vh;
    display: grid;
    grid-template-columns: repeat(5,auto);

}


.item img {
    width: 98.5%;
    height: 18vh;

}

#img1:hover, #img2:hover, #img3:hover, #img4:hover, #img5:hover {
    transform: scale(1.15);
    transition: .35s ease-in-out;
    
}



section a {
    position: absolute;
    color: #fff;
    text-decoration: none;
    font-size: 3rem;
    background: rgb(0,0,0);
    width: 80px;
    text-align: center;
    z-index: 1;
}

section i {
    position: relative;
    top: 33%;
}

section i:hover {
    transform: scale(1.2);
    transition: .2s ease-in-out;
}

section a:nth-of-type(1){
    top: 0; bottom: 0; left: 0;
    background: linear-gradient(-90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
}
section a:nth-of-type(2){
    position: absolute;
    top: 0; bottom: 0; right: 0;
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
}


section:nth-child(1) {
    background-color: black;
}
